.page-body {
    font-family: sans-serif;
    text-align: center;

}

.adress-menu{
margin: 0;
padding: 0;
    
}
.navigation-menu {
    display: inline;
    text-align: center;
    margin:0 auto;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.0);
}
.navigation-list {
    font-style: Bold;
    font-size:  18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    line-height: 82%;
    align-items: left: ;
    Vertical-align: Center;
    Letter-spacing: 3px;
    margin-left: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: #FF0000;
    margin: 0;

    
}
.list-item{
   
    color: #FF0000 ;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    list-style: none;
    display: inline;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-left: 72px;
    
 }

.photo {
    height: 100%;
        width: 100%;
    display: inline;
    margin: 0,, 0, 0, -3;
    padding: 0;
    inline-size: cover;
}
.title {
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 48px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 68px;
    margin-right: 68px;
    
    text-align: center;
    letter-spacing: 2.4px;
    
    color: #373737;
    border: 1px solid rgba(0,0,0,0.0)

    }
.lorem {
    margin-bottom: 27px;
    margin-top: 38px;
}

.vestibulum {
    margin 0;

}

.start {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 84px;
border: 2px solid #FF0000;
padding-top: 18px;
padding-bottom: 17px;
padding-left: 43px;
padding-right: 43px;
font-weight: 700;
font-size: 12px;
line-height: 12px;
text-align: end;
letter-spacing: 1.8px;
text-transform: uppercase;
width: 105px;
background-color: #FF0000;
color: #FFFFFF;
}

.right {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
text-align: end;
margin-top: 82px;
margin-right: 105px;
margin-bottom: 29px;

color: #373737;
}